<div class="label"></div>
  <h1> <%= @cocktail.name %> </h1>
  <h3> <%= @cocktail.description %> </h3>

  <ul> <% @cocktail.doses.each do |dose| %>
    <li class="color"> <%= dose.ingredient.name %>||<%= dose.description %> - <%= link_to "Delete", cocktail_dose_path(@cocktail,dose),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-danger" %> </li>
    <% end %>
  </ul>
</div>

<%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
<%= link_to "Back", cocktails_path, class: "btn btn-primary" %>

